name: Upload Python Package

on:
  push:
    tags:
      - v*

jobs:
  publish:
    uses: pykit3/pk3/.github/workflows/python-publish-reusable.yml@master
    secrets:
      PYPI_PASSWORD: ${{ secrets.PYPI_PASSWORD }}

